<h1>About me</h1>
<p>Well, what can I say? I'm a regular mid-twenty something based in Auckland, New Zealand, who's looking to upskill his web knowledge and bring ideas to life. Oh, and I <s>like</s> love coffee. But don't we all :-) </p>